# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
src/backend/osm-fieldwork

__pycache__
credentials.txt
odk2odm_venv/

# PyCharm
.idea/

# VSCode
.vscode

# test scripts and files
db.sqlite3

# emacs
*~

# mac
.DS_Store

# ignore settings
**/*.env

# ignore python environments
venv
fmtm-env

# project related
temp_webmaps/local_only
temp_webmaps/Naivasha

# node & pnpm
**/**/node_modules
**/**/package-lock.json
**/**/yarn.lock
**/**/.pnpm-store

# pdm
**/**/.pdm.toml
**/**/pdm.toml
**/**/.pdm-python
**/**/__pypackages__

# mkdocs
site
docs/apidocs
coverage
**/**/coverage*

# Bash install script
envsubst

# Scripts
**/openapi.json

# Chart dependencies
chart/charts

#Docker
DockerData/



########################################## Terraform ##########################################
# Terraform State files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# .terraform directory is used by Terraform to store module and provider caches
.terraform/

# Ignore any plan files
*.tfplan

# Ignore variables files that may contain sensitive information
*.tfvars
*.tfvars.json

# Ignore local environment files
.terraform.lock.hcl

# Ignore backup files
*.backup

# Ignore editor specific files
# Examples for Visual Studio Code, IntelliJ IDEA, etc.
.vscode/
.idea/

# Ignore Mac OS specific files
.DS_Store

# Ignore Linux and Unix specific files
*.swp
*.swo

#Ignore Pem File
*.pem

#Ignore Aws Cred
*/.aws/credentials
