networks:
  dtm-network:
    name: dtm-network

volumes:
  db-data:
    name: drone-tm-db-data
  frontend-html:
    name: drone-tm-frontend-html

services:
  backend:
    image: ghcr.io/hotosm/drone-tm/backend:debug
    build:
      context: src/backend
      dockerfile: Dockerfile
    depends_on:
      - db
      - minio
    ports:
      - ${BACKEND_WEB_APP_PORT:-8000}:8000
    volumes:
      - ${PROJECT_DIR:-.}/src/backend/pyproject.toml:/project/src/backend/pyproject.toml:ro
      - ${PROJECT_DIR:-.}/src/backend/app:/project/src/backend/app:ro
      - ${PROJECT_DIR:-.}/src/backend/tests:/project/src/backend/tests:ro
      - ${PROJECT_DIR:-.}/src/backend/packages/drone-flightplan/drone_flightplan:/opt/python/lib/python3.11/site-packages/drone_flightplan:ro
      - frontend-html:/project/src/backend/frontend_html
    env_file: .env
    networks:
      - dtm-network
    restart: unless-stopped

  frontend:
    image: ghcr.io/hotosm/drone-tm/frontend:debug
    build:
      context: src/frontend
      dockerfile: Dockerfile
      target: ${FRONTEND_TARGET_OVERRIDE:-development}
      args:
        BASE64_ARGS_TO_ENV: <USE FOR LIVE. Base64 encoded env variables>
    ports:
      - ${FRONTEND_WEB_APP_PORT:-3040}:3040
    depends_on:
      - minio
    env_file: .env
    networks:
      - dtm-network
    volumes:
      - ${PROJECT_DIR:-.}/src/frontend:/app
      - frontend-html:/tmp/frontend_html

  # If error, please upgrade the db with `contrib/pg-upgrade/docker-compose.yml`
  db:
    image: postgis/postgis:16-3.4-alpine
    volumes:
      - db-data:/var/lib/postgresql/data
    env_file: .env
    environment:
      LANG: en-GB.utf8
      POSTGRES_INITDB_ARGS: "--locale-provider=icu --icu-locale=en-GB"
    ports:
      - "5467:5432"
    networks:
      - dtm-network
    restart: unless-stopped
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER:-dtm} -d ${POSTGRES_DB:-dtm_db}
      start_period: 5s
      interval: 10s
      timeout: 5s
      retries: 3

  minio:
    image: "docker.io/minio/minio:${MINIO_TAG:-RELEASE.2024-08-03T04-33-23Z}"
    command: server /export --console-address 0.0.0.0:9090 --address 0.0.0.0:9000
    volumes:
      - ${PROJECT_DIR:-.}/DockerData/minio_data:/export
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY:-dtm_user}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY:-somelongpassword}
    env_file:
      - .env
    ports:
      - 9000:9000
      - 9090:9090
    networks:
      - dtm-network
    restart: unless-stopped

  createbuckets:
    image: "docker.io/minio/minio:${MINIO_TAG:-RELEASE.2024-08-03T04-33-23Z}"
    entrypoint: >
      /bin/sh -c " mc config host add minio http://minio:9000 \$S3_ACCESS_KEY \$S3_SECRET_KEY; mc mb minio/\$S3_BUCKET_NAME; mc anonymous set download minio/\$S3_BUCKET_NAME/publicuploads/; exit 0; "
    env_file:
      - .env
    depends_on:
      - minio
    networks:
      - dtm-network
    restart: "no"

  migrations:
    image: ghcr.io/hotosm/drone-tm/backend:debug
    volumes:
      - ${PROJECT_DIR:-.}/src/backend:/project/src/backend
    depends_on:
      - backend
      - db
    env_file:
      - .env
    networks:
      - dtm-network
    entrypoint: ["alembic", "upgrade", "head"]
    restart: "no"

  arq-worker:
    image: ghcr.io/hotosm/drone-tm/backend:debug
    command: arq app.arq.tasks.WorkerSettings
    depends_on:
      - redis
    env_file: .env
    networks:
      - dtm-network
    volumes:
      - ${PROJECT_DIR:-.}/src/backend:/project/src/backend
      - frontend-html:/project/src/backend/frontend_html
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "arq", "app.arq.tasks.WorkerSettings", "--check"]
      interval: 30s
      timeout: 5s
      retries: 2
      start_period: 20s
  redis:
    image: redis:7-alpine
    networks:
      - dtm-network
    restart: unless-stopped
