site_name: FMTM
site_description: Community-driven drone imagery generation.
# strict: true
site_url: "https://hotosm.github.io/drone-tm/"

repo_name: "hotosm/drone-tm"
repo_url: "https://github.com/hotosm/drone-tm/"
edit_uri: "edit/main/docs/"

extra:
  social:
    - icon: "fontawesome/brands/github"
      link: "https://github.com/hotosm/"
    - icon: "fontawesome/brands/twitter"
      link: "https://twitter.com/hotosm"
    - icon: "fontawesome/solid/globe"
      link: "https://www.hotosm.org"
  copyright: Copyright &copy; 2010 HOTOSM
  generator: false

theme:
  name: material
  palette:
    primary: custom
  language: en
  favicon: images/favicon.png
  logo: images/hot_logo.png

extra_css:
  - css/extra.css

markdown_extensions:
  - tables
  - toc:
      permalink: true
      title: Page contents
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.extra
  - pymdownx.emoji:
  - pymdownx.tabbed:
      alternate_style: true
  - mdx_truly_sane_lists

plugins:
  - search
  - git-revision-date-localized
  - exclude:
      glob:
        - plugins/*
        - __pycache__/*
  - mkdocstrings:
      handlers:
        python:
          paths: [.]
          options:
            members_order: source
            separate_signature: true
            filters: ["!^_"]
            docstring_options:
              ignore_init_summary: true
            merge_init_into_class: true

nav:
  - Home: index.md
  # - API Docs: https://hotosm.github.io/swagger/?url=https://hotosm.github.io/drone-tm/openapi.json
  - Get Started:
      - About: about/about.md
      - Installation: INSTALL.md
      - Contribution Guidelines: CONTRIBUTING.md
      - Code of Conduct: https://docs.hotosm.org/code-of-conduct
      - FAQ: about/faq.md
      - The Team: about/team.md
