:root {
  --md-primary-fg-color: #d73f3f;
  --md-primary-fg-color--light: #e27575;
  --md-primary-fg-color--dark: #c22929;
}

/* Download button */
.print-btn {
  display: inline-block;
  padding: 8px 20px;
  background: var(--md-primary-fg-color);
  color: #fff !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
.print-btn:hover {
  background: var(--md-primary-fg-color--dark);
  text-decoration: none;
}
