@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: normal;
  src:
    url('../fonts/BarlowCondensed-Regular.ttf') format('truetype'),
    url('../fonts/BarlowCondensed-Regular.ttf') format('truetype');
}

html,
body {
  font-family: 'Barlow Condensed', sans-serif;
  box-sizing: border-box;
}

.landing-page p {
  font-family: 'Manrope', sans-serif !important;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.appear-animation {
  animation-name: slideInFromLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.pulse-animation {
  animation: pulse-animation 1.6s infinite;
  transition: all 1s ease-in-out;
  border-radius: 500px;
}
.scrollbar-images-grid::-webkit-scrollbar {
  /* height: 7px; */
  width: 6px;
}
.scrollbar-images-grid:hover::-webkit-scrollbar-track {
  background: #d73f3f40;
  border-radius: 10px;
  /* display: block; */
}
.scrollbar-images-grid:hover::-webkit-scrollbar-thumb {
  background: #d73f3fd3;
  border-radius: 10px;
}
.scrollbar-images-grid::-webkit-scrollbar-track {
  background: transparent;
  display: none;
}

.scrollbar-images-grid::-webkit-scrollbar-thumb {
  background: transparent;
} 
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 70, 119, 0.5);
  }
  100% {
    box-shadow: 0 0 0 10px transparent;
  }
}
